version: '3'
services:
  frontend:
    image: nginx:1.18
    ports:
      - "80:80"
    volumes:
      - ./frontend/dist:/usr/share/nginx/html

  backend:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - redis
      - mysql

  redis:
    image: redis:6.2
    ports:
      - "6379:6379"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ******
      MYSQL_DATABASE: mydatabase
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
